# Exercise 1.3
## Table of Contents
    01. Imports/Libraries
    02. Pets Data Frame
    03. Pets in 5 Years
    04. Indoor Vs Outdoor Pets

## 01. Imports/Libraries

In [1]:
import pandas as pd
import numpy as np

## 02. Pets Data Frame

In [4]:
df = pd.DataFrame({
    'pet': ['Dog', 'Cat', 'Rabbit', 'Parrot', 'Hamster'],
    'age': np.random.randint(1, 15, size=5)
})
df

       pet  age
0      Dog    6
1      Cat   14
2   Rabbit    7
3   Parrot    7
4  Hamster    2

I used random numbers between 1 and 15

## 03. Pets in 5 Years

In [5]:
df = pd.DataFrame({
    'pet': ['Dog', 'Cat', 'Rabbit', 'Parrot', 'Hamster'],
    'age': np.random.randint(1, 15, size=5)   # random ages between 1 and 15
})

# Lambda function
df['age_plus_five'] = df['age'].apply(lambda x: x + 5)

df

       pet  age  age_plus_five
0      Dog    8             13
1      Cat    9             14
2   Rabbit    2              7
3   Parrot   10             15
4  Hamster    9             14

## 04. Indoor Vs Outdoor Pets

In [7]:
df = pd.DataFrame({
    'pet': ['Dog', 'Cat', 'Rabbit', 'Parrot', 'Hamster'],
    'age': np.random.randint(1, 15, size=5)   # random ages between 1 and 15
})

# Lambda function
df['age_plus_five'] = df['age'].apply(lambda x: x + 5)

# Indoor/Outdoor pet flags
df['location'] = df['pet'].apply(
    lambda x: 'Indoor' if x in ['Rabbit', 'Hamster', 'Parrot'] else 'Outdoor'
)
df

       pet  age  age_plus_five location
0      Dog   12             17  Outdoor
1      Cat    2              7  Outdoor
2   Rabbit    2              7   Indoor
3   Parrot    3              8   Indoor
4  Hamster    3              8   Indoor